@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
}
html {
    scroll-behavior:smooth;
}

header {
    display: inline;
 }

body {
	font-family:"Nunito", Helvetica, Arial, sans-serif;
    padding: 0;
	margin: 0;
    top: 0;
}
main {
    padding: 20px;
    overflow: auto;
    margin-top: 20px;
}

/* 1. Header */

.jumbotron {
    background-image: url('../images/background/1.png');
    background-size: cover;
    height: 650px;
    font-size: 20px;
    padding: 160px;
    color: black;
}
 
.jumbotron-kiri{
    float: left;
    width: 50%;
 }

.jumbotron-kanan{
    float:right;
    width: 50%;
    margin-top: 50px;
}

a{
    text-decoration: none;
    color: #353535;
    display: block;
    transition: 0.3s;
}
a:hover {
    transition: 0.3s;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
  
.title {
    display: inline-block;
    float: left;
    line-height: 50px;
}
  
.menu {
    display: inline-block;
    float: right;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    padding: 0 20px;
    display: block;
    line-height: 50px;
}

.menu li:hover{
    background-color: #3acff0;
}

.active{
    background-color: #3acff0;
}

.wrap{
    width: 80%;
    margin: 0 auto;
}

.tombol-mobile-box {
    display: inline-block;
    float: right;
    line-height: 50px;
}

.tombol-mobile {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('../images/tombol-mobile.png');
    top: 50%;
    margin-left: -20px;
    transform: translateY(-50%);
}

.tombol-mobile-box{
display: none;
visibility: hidden;
}

.btnToTop {
    width:50px; height:50px; position:fixed; bottom:50px; right: 50px; z-index:99; cursor:pointer; border-radius:100px;
    background:#0caace url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center;
}

.btnToTop:hover {
    background:#3acff0 
    url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center;
}

#toTop{
    display: none;
}

/* Content */

#content {
    float: left;
    padding: 20px;
    width: 100%;
}

.header-article {
    text-align: center;
}

hr {
    width: 10%;
    border: 2px solid #0caace;
    border-radius: 20px;
}

.content-bagi-tiga{
    float: left;
    width: 32%;
    margin-left: 10px;
}

.profile header {
    text-align: center;
 }

.profile section {
    text-align: center;
 }

.image-profil{
    width: 200px;
   height: 200px;
   border-radius: 50%;
}

.table-profil{
    width:50%; 
    margin-left:25%; 
    margin-right:25%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
    cursor: pointer;
}

.card:hover{
    background-color: #0caace;
    color: white;
}

.card-menu {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    height: 550px;
    background-color: #fff;
    cursor: pointer;
}

.card-menu:hover{
    background-color:#0caace;
    color: white;
}
.isi-menu {
    text-align: justify;
}

#layanan{
    background-image: url('../images/background/2.png');
    background-size: cover;
}
#galeri{
    background-image: url('../images/background/3.png');
    background-size: cover;
}
#about{
    background-image: url('../images/background/4.png');
    background-size: cover;
}

.fa-size{
    font-size: 50pt;;
}

.featured-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
 }

/* Footer */
footer {
    padding: 20px;
    color: black;
    background-color: #fbfbfb;
    text-align: center;
    font-weight: bold;
}

/* Responsive Rules  */
@media screen and (max-width:800px){
    .menu{
      display: none;
    }
    .tombol-mobile-box{
      display: block;
      visibility: visible;
    }
    .menu.show {
        display: block;
        position: absolute;
        top: 50px;
        background: #0caace;
        width: 100%;
        left: 0;
    }
  
    .menu a:hover {
        color: #fff;
        background: #3acff0;
    }
  
    .menu ul li {
        display: block;
        text-align: center;
    }
    a{
        color: white;
    }
}

@media screen and (max-width: 1000px) {
    .jumbotron{
        padding: 60px
    }
    .jumbotron-kiri,
    .jumbotron-kanan {
        width: 100%;
        padding: 0;
        margin-top: 0;
    }
    #content, .content-bagi-tiga{
       width: 98%;
       padding: 0;
    }
    .table-profil{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .card-menu{
        height: 615px;
    }
 }